*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Helvetica;
    color-scheme: dark;
}

:root{
    font-size:16px;
}

a{
    text-decoration:inherit;
    font-weight:500;
    font-size:1.2rem;
    color:white;
}

li{
    list-style:none;
}

html{
    font-size:62.5%;
}

.center-page {
    text-align:left;
    margin-left:5%;
    max-width:80vw;
}

.grid {
    display:block;
    margin:auto;
    max-width:75%;
}

.grid-two-cols{
    display:flex;
    height: 100%;
    gap:50px;
    flex-direction:row;
    align-items: center;
}

.question-box, .services-box{
    max-width:90vw;
    padding:0.5rem;
    border:solid 1px;
    margin:1rem;
    margin-left: 10%;
    
}

.image-container{
    margin-top: 1rem;
}

.login-form, .registration-form, .contact-form, .question-form{
    width: 40vw;
    align-items: center;
    text-align: left;
    margin-bottom: 25%;
    margin-left: 10%;
}

.question-form{
    margin-bottom: 0%;
}

input[type=text], input[type=email], input[type=password], input[type=number], input[type=date]{
    border-radius: 5px;
    width: 22rem;
    height: 2rem;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, , input[type=date]:focus{
    border: 3px solid #fff;
}

.btn{
    width: 22rem;
    height: 2.5rem;
    border-radius: 15px;
}

.footer{
    position: relative;
    left: 25%;
    bottom: 0;
    width: 50%;
    justify-content: center;
    text-align: center;
}